<div class="container-fluid">
    <form class="form-horizontal" id="userForm" name="userForm" novalidate
          ng-submit="signInCtrl.signIn(userForm.$valid)">

        <legend>User Credentials</legend>

        <div class="form-group" show-errors>
            <label for="emailInput" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Email"
                       ng-model="signInCtrl.user.email" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}"
                       ph-email>

                <ng-messages for="userForm.emailInput.$error"
                             ng-if="userForm.emailInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordInput" name="passwordInput"
                       placeholder="Password" ng-minlength="8"
                       ng-model="signInCtrl.user.password" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}">

                <ng-messages for="userForm.passwordInput.$error"
                             ng-if="userForm.passwordInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <ph-recaptcha captcha-id="signInCaptcha"></ph-recaptcha>
                <ng-messages for="userForm.$error" ng-if="userForm.$submitted">
                    <ng-message when="recaptcha">
                        Invalid captcha
                    </ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="list-inline">
                    <i class="fa fa-circle"></i><li><a href="#">Forgot password</a></li>
                    <i class="fa fa-circle"></i><li><a href="#">Create new account</a></li>
                </ul>
            </div>
        </div>

    </form>

</div>