@require "colors"

// Layout
layout-offset = 5px;
layout-data-holder-top = 107px;
layout-data-holder-left = 5px;
layout-data-holder-right = 5px;
layout-data-holder-bottom = 30px;

// Animation
default-transition-duration = 1s;

// fonts
default-color-on-light-1 = main-color2;
default-color-on-light-2 = main-color3;

default-color-on-dark = main-color1;
// checkbox
default-icons-size = 20px;

//Shadow
default-shadow-color = main-color9;

// Backgrounds
default-application-background = main-color1;
default-header-background = main-color3;

// checkbox
default-checkbox-size = 13px;

// input
default-input-background = main-color1;
default-input-size = 26px;
default-input-border-width = 1px;
default-input-border-color = main-color16;
default-input-outline-color = main-color4;
default-input-error-color = main-color8;
default-input-disabled-background = main-color6;
default-input-icon-color = main-color12;
default-input-icon-clear-hover-color = main-color8;
default-input-cleared-color = main-color8;

// Heights
height-action-bar= 31px;

// widths
entity-history-width= 320px;

// Default colors
default-active-color= main-color4;
default-hover-color= main-color12;
default-remove-color= main-color8;


default-raw-data-color= main-color21;
