@require "configs"

absolute(top = 0, left = 0, right = 0, bottom = 0)
  position absolute
  top top
  left left
  right right
  bottom bottom

full-height(height)
  height height
  line-height height

scale(value)
  -moz-transform scale(value)
  -o-transform scale(value)
  -ms-transform scale(value)
  -webkit-transform scale(value)
  transform scale(value)

z(keys)

  result =  z-layers;

  for key in keys
    if (result[key] == null)
      error("Key not found in z-layers map")

    result = result[key]

  return result