/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/font-awesome/less/font-awesome.less';
/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  color: #5a5a5a;

  .main-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content-wrapper {
    position: absolute;
    width: 100%;
    top: @top-nav-bar-height;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: @footer-height;
  }

  ui-view {
    width: 100%;
    height: 100%;
  }

}
navigation-bar, footer-bar {
  position: absolute;
  width: 100%;
}

footer-bar {
  bottom: 0;
  position: fixed;
  height: @footer-height;
}

ng-messages {
  color: @validation-color;
}

ng-messages > div {
  padding-top: 10px;
  font-style: italic;
}

.boxed {
  padding: 0.75em;
  border: 1px solid @border-color;
}

.status-icon {
  color: @default-icon-color;
}

.view {
  width: 100%;
  height: 100%;
}
.view-container {
  height: 100%;
  width: 100%;
}

.view.ng-animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.view.ng-leave {
  .setTransition(0.5s linear all);
  .translateElement(0);
}

.view.ng-leave.ng-leave-active {
  .translateElement(-100%);
}

.view.ng-enter {
  .setTransition(0.5s linear all);
  .translateElement(100%);
}

.view.ng-enter.ng-enter-active {
  .translateElement(0);
}

.translateElement(@x) {
  -ms-transform: translate(@x); /* IE 9 */
  -webkit-transform: translate(@x); /* Safari */
  -moz-transform: translate(@x);
  transform: translate(@x);
}

.setTransition(@transition) {
  transition: @transition;
  -ms-transition: @transition;
  -webkit-transition: @transition;
  -moz-transition: translate(@transition);

}
/*.view-anchor.out {
  transition:2.6s linear all;
  left:500px;
}

.view-anchor.in {
  transition:2.6s linear all;
}*/

@import '../app/home/home.less';
@import '../app/signup/signup.less';
@import '../app/signin/signin.less';
@import '../common/navigation/navigation.less';
@import '../common/feedbacks/feedbacks.less';

