/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/font-awesome/less/font-awesome.less';
/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  width: 100%;
  height: 100%;
  margin: 0px;
  pading: 0px;

  .main-holder {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    position: relative;

    .root-content {
      display: table-row;
      height: 100%;
      width: 100%;

      > div {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}

navigation-bar, footer-bar {
  display: table-row;
}

ng-messages {
  color: @validation-color;
}

ng-messages > div {
  padding-top: 10px;
  font-style: italic;
}

.boxed {
  padding: 0.75em;
  border: 1px solid @border-color;
}

.status-icon {
  color: @default-icon-color;
}

.view-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.view.ng-animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.view.ng-leave {
  transition: 0.3s linear all;
  transform: translateX(0);
}

.view.ng-leave.ng-leave-active {
  transform: translateX(-100%);
}

.view.ng-enter {
  transition: 0.3s linear all;
  transform: translateX(100%);
}

.view.ng-enter.ng-enter-active {
  transform: translateX(0);
}

/*.view-anchor.out {
  transition:2.6s linear all;
  left:500px;
}

.view-anchor.in {
  transition:2.6s linear all;
}*/

@import '../app/home/home.less';
@import '../app/signup/signup.less';
@import '../app/signin/signin.less';
@import '../common/navigation/navigation.less';
@import '../common/feedbacks/feedbacks.less';

