<div class="container-fluid">
    <form class="form-horizontal" id="userForm" name="userFom" novalidate ng-submit="signUpCtrl.signUp(userFom.$valid)">

        <div class="form-group" show-errors class="col-sm-10">
            <label for="firstNameInput" class="col-sm-2 control-label">First Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstNameInput" id="firstNameInput"
                       placeholder="First Name"
                       ng-model="signUpCtrl.user.firstName" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}" ng-minlength="2">

                <ng-messages for="userFom.firstNameInput.$error"
                             ng-if="userFom.firstNameInput.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>

        </div>

        <div class="form-group" show-errors>
            <label for="lastNameInput" class="col-sm-2 control-label">Last Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Last Name"
                       ng-model="signUpCtrl.user.lastName" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}" ng-minlength="2">

                <ng-messages for="userFom.lastNameInput.$error"
                             ng-if="userFom.lastNameInput.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="emailInput" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Email"
                       ng-model="signUpCtrl.user.email" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}">

                <ng-messages for="userFom.emailInput.$error"
                             ng-if="userFom.emailInput.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordInput" name="passwordInput"
                       placeholder="Password"
                       ng-model="signUpCtrl.user.password" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}">

                <ng-messages for="userFom.passwordInput.$error"
                             ng-if="userFom.passwordInput.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="confirmPasswordInput" class="col-sm-2 control-label">Confirm
                Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPasswordInput"
                       placeholder="Confrim Password"
                       ng-model="signUpCtrl.confirmPassword" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}">

                <ng-messages for="userFom.confirmPasswordInput.$error"
                             ng-if="userFom.passwordInput.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="genderSelector" class="col-sm-2 control-label">Gender</label>

            <div class="col-sm-10">
                <select id="genderSelector" name="genderSelector" class="form-control" required
                        ng-options="gender.name as gender.label for gender in signUpCtrl.genders"
                        ng-model="signUpCtrl.user.gender"></select>

                <ng-messages for="userFom.genderSelector.$error"
                             ng-if="userFom.genderSelector.$touched || userFom.$submitted">
                    <div ng-messages-include="common-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>
</div>