<div class="container-fluid">
    <form class="form-horizontal" id="userForm" name="userForm" novalidate
          ng-submit="signUpCtrl.signUp(userForm.$valid)">

        <legend>Personal Info</legend>
        <div class="form-group" show-errors>
            <label for="firstNameInput" class="col-sm-2 control-label">First Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstNameInput" id="firstNameInput"
                       placeholder="First Name"
                       ng-model="signUpCtrl.user.firstName" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}"
                       ng-minlength="2">

                <ng-messages for="userForm.firstNameInput.$error"
                             ng-if="userForm.firstNameInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>

        </div>

        <div class="form-group" show-errors>
            <label for="lastNameInput" class="col-sm-2 control-label">Last Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Last Name"
                       ng-model="signUpCtrl.user.lastName" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}"
                       ng-minlength="2">

                <ng-messages for="userForm.lastNameInput.$error"
                             ng-if="userForm.lastNameInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="emailInput" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Email"
                       ng-model="signUpCtrl.user.email" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}"
                       ph-email>

                <ng-messages for="userForm.emailInput.$error"
                             ng-if="userForm.emailInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordInput" name="passwordInput"
                       placeholder="Password" ng-minlength="8" ph-upper-case-min-length="1" ph-digits-min-length="1"
                       ng-model="signUpCtrl.user.password" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}">

                <ng-messages for="userForm.passwordInput.$error"
                             ng-if="userForm.passwordInput.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <section class="boxed">
                    <h4>Password needs to contain at least:</h4>
                    <ul class="list-unstyled password-requirements">
                        <li>
                            <i class="fa"
                                  ng-class="{'status-icon fa-check fa-lg': !(userForm.passwordInput.$error.minlength || userForm.passwordInput.$error.required),
                                  'fa-circle': userForm.passwordInput.$error.minlength || userForm.passwordInput.$error.required}"></i>
                            8 characters
                        </li>
                        <li>
                            <i class="status-icon fa"
                                  ng-class="{'status-icon fa-check fa-lg': !(userForm.passwordInput.$error.phUpperCaseMinLength || userForm.passwordInput.$error.required),
                                  'fa-circle': userForm.passwordInput.$error.phUpperCaseMinLength || userForm.passwordInput.$error.required}"></i>
                            1 uppercase letter
                        </li>
                        <li>
                            <i class="status-icon fa"
                                  ng-class="{'status-icon fa-check fa-lg': !(userForm.passwordInput.$error.phDigitsMinLength || userForm.passwordInput.$error.required),
                                            'fa-circle': userForm.passwordInput.$error.phDigitsMinLength || userForm.passwordInput.$error.required}"></i>
                            1 number
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="confirmPasswordInput" class="col-sm-2 control-label">Confirm
                Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPasswordInput"
                       placeholder="Confrim Password"
                       ng-model="signUpCtrl.confirmPassword" required maxlength="{{::appCtrl.INPUT_MAX_CHARS}}"
                       ph-match="signUpCtrl.user.password">

                <ng-messages for="userForm.confirmPasswordInput.$error"
                             ng-if="userForm.confirmPasswordInput.$touched || userForm.$submitted">
                    <ng-message when="phMatch">
                        Doesn't match the password
                    </ng-message>
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="genderSelector" class="col-sm-2 control-label">Gender</label>

            <div class="col-sm-10">
                <select id="genderSelector" name="genderSelector" class="form-control" required
                        ng-options="gender.name as gender.label for gender in signUpCtrl.genders"
                        ng-model="signUpCtrl.user.gender"></select>

                <ng-messages for="userForm.genderSelector.$error"
                             ng-if="userForm.genderSelector.$touched || userForm.$submitted">
                    <div ng-messages-include="validators/validation-messages.tpl.html"></div>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <ph-recaptcha captcha-id="signUpCaptcha"></ph-recaptcha>
                <ng-messages for="userForm.$error" ng-if="userForm.$submitted">
                    <ng-message when="recaptcha">
                        Invalid captcha
                    </ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>

</div>