<!DOCTYPE html>
<html ng-app="us-elements" ng-controller="AppCtrl" ng-strict-di>
<head>
    <title ng-bind="pageTitle"></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>


    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>



</head>

<body>

<navigation-bar></navigation-bar>

<div ui-view class="content-holder"></div>

<footer-bar></footer-bar>
</body>
</html>
