<!DOCTYPE html>
<html ng-app="photo-state" ng-controller="AppCtrl as appCtrl" ng-strict-di>
<head>
    <title ng-bind="pageTitle"></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>


    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async
            defer></script>


</head>

<body>

    <navigation-bar></navigation-bar>

    <div class="page-wrap">
        <div ui-view class="view"></div>
    </div>

    <footer-bar></footer-bar>


    <span us-spinner="{width:10, length: 1, lines: 15, radius: 40, corners: 1}"
          class="block-activity-overlay" requests-spinner></span>

    <success-alert></success-alert>
    <service-fault-alert></service-fault-alert>

</body>
</html>
