<div class="expanded-container">

    <style>
        .ranges-data-sheet {
            position: absolute;
            bottom: 150px;
            top: 0;
        }

        .control-panel {
            position: absolute;
            bottom: 0;
        }
    </style>


    <ftw-data-sheet config="rangesCtrl.rangeTableSettings"
                    datasource="rangesCtrl.rangesData.data"
                    class="ranges-data-sheet">
    </ftw-data-sheet>


    <!-- Test controls-->
    <div class="control-panel">
        <input type="checkbox" ng-model="rangesCtrl.rangeTableSettings.readOnly">Readonly

        &nbsp;&nbsp;&nbsp;

        <input type="checkbox" ng-model="rangesCtrl.rangeTableSettings.columns[1].readOnly">Readonly Column #2

        <br><br>

        <label>Column #3 type</label>
        <select ng-model="rangesCtrl.rangeTableSettings.columns[2].type">
            <option value="text">Text</option>
            <option value="date">Date</option>
        </select>

        <br><br>

        <button class="btn btn-primary" ng-click="hot.updateSettings()">Reset settings</button>

        <button class="btn btn-primary" ng-click="hot.refreshDataSheet()">Re-render table</button>

    </div>

</div>